<div class="footer">

  <div class="logo">
    <h2 class="forestala" >fores<span>Tala</span></h2>

  </div>
  <div class="redes">
    <a class="fa-brands fa-instagram">
      <a href="https://instagram.com/forestala_org?igshid=YmMyMTA2M2Y=" target="_blank"><img src="assets/img/instagram.svg" alt="logo instagram" id="insta"></a>
      <a href="https://www.facebook.com/" target="_blank"><img src="assets/img/facebook.svg" alt="logo facebook" id="face"></a>
      <a href="https://www.youtube.com/" target="_blank"><img src="assets/img/youtube.svg" alt="logo youtube" id="yt"></a>
    </a>
  </div>

</div>
