*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main {
  width: 70%;
  margin-left: 15%;
  background-color: white;
  height: 2300px;

}

body{
  font-family: 'Roboto', sans-serif;
}

img {
  width: 120px;
  margin-left: 50px;
}


.descripcion {
  background-position:center;
  background-image: url(/assets/img/fondoIndex.jpg);
  background-size: 1600px;
  width: 100%;
  height: 430px;
  background-repeat: no-repeat;
  display: flex;
}

.somos{
  margin: auto;
  height: 370px;
  background-color: rgba(240, 248, 255, 0.8);
  width: 600px;
  text-align: center;
  border-radius: 5%;
}

.somos h1{
  font-family: 'Caveat Brush', cursive;
  font-size: 130px;
  margin-bottom: -20px;

}

.info strong {
  font-size: 35px;
  font-family: 'Caveat Brush', cursive;
}

.somos h1 span{
  color: #E1077F;
  font-family: 'Caveat Brush', cursive;


}

.somos h2{
  margin-top: 2px;
  font-size: 22px;
  font-weight: 400;
}

.somos p{
  margin-top: 37px;

}

.filtro{
  height: 600px;
  padding-top: 80px;
  display: block;
  margin-bottom: -200px;

}



#elegir {
  background-color: #ff7333;
  border: none;
  color: whitesmoke;
  width: 200px;
  height: 40px;
  font-size: 25px;
  font-weight: 700;
  margin-left: 863px;
}

#elegir:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.filtro h2 {
  font-size: 45px;
  margin-top: 25px;
  font-weight: 700;
  background-color: #EB476F;
  width: 1065px;
  color: #EEF2FA;
  text-align: center;

}


.menu{
  margin-top: 20px;
  display: inline;
  font-weight: 700;
  width: 520px;
  font-family: 'Roboto', sans-serif;

}


.desplegable .plantas{
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  background-color: #9CA01F;
  color: white;
  margin-bottom: 25px;
  text-align: center;
  width: 1065px;

}

.opciones {
  display: flex;
  background-image: url("/assets/img/plantas.jpg");
  background-size: cover;
  height: 600px;
  justify-content: space-around;
  align-items: center;
  color: black;

}

.servicios{
  margin-left: 75px;
  font-size: 60px;
  font-family: 'Caveat Brush', cursive;
  color:#87297E;
}

.infoUtil{
  margin-left: 75px;
  font-size: 60px;
  font-family: 'Caveat Brush', cursive;
  color:#87297E;
  margin-top: 25px;

}

.plantacion {
  width: 330px;
  height: 400px;
  background: rgb(252, 222, 69);
  font-family: 'Roboto', sans-serif;
  display: block;
  border-radius: 5%;
  box-shadow: 0 15px 30px 1px rgba(79, 79, 79, 0.31);

}

.informacion {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.informacion p{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 15px;
}

.plantacionPart img{
  width: 600px;
  margin-left: 0px;
  border-radius: 5%;
}

.plantacionPart{
  font-family: 'Roboto', sans-serif;
  width: 600px;
  background: rgb(252, 252, 252);
  height: 450px;
  border-radius: 5%;
  box-shadow: 0 15px 30px 1px rgba(79, 79, 79, 0.51);
}

.plantacionPart button {
  background-color: #C37968;
  color: whitesmoke;
  border: none;
  margin-left:140px;
  margin-bottom: 25px;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  font-size: 25px;
}

.plantacionPart #plantacionPart:hover {
  transform:scale(1.05);
  cursor: pointer;
}

.gratis{
  background-color: rgba(247, 185, 158, 0.47);
  height: 25px;
  width: 100%;
  text-align: center;
  padding-top:4px;
}

.infoRelevante {
  height: 650px;
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.prohibido, .prohibido2{
  width: 40%;
}

.nativas{
  background-image: url("/assets/img/cuadrolila.png");
  background-size: cover;
  height: 400px;
}

.cuadroLila p{
  margin-left: 200px;
  padding-top: 18px;
}

#tituloNativas{
  padding-top: 90px;
  padding-left: 200px;
}

.prohibido{
  background-image: url("/assets/img/cuadrorosa.png");
  background-size: cover;
  height: 90%;
}

.prohibido2{
  background-image: url("/assets/img/cuadroamarillo.png");
  background-size: cover;
}

.prohibido2 h2{
  margin-top: 60px;
  margin-left: 90px;
}

.prohibido2 li{
  list-style-position: outside;
  margin-left: 115px;
}

.prohibido a, .nativas a{
  color:#E1077F;
}

.prohibido h2{
  margin-bottom: 20px;
}

.prohibido h2{
  margin-top: 120px;
  margin-left: 90px;
  font-size: 26px;
  margin-bottom: 15px;
}

.prohibido p{
  margin-left: 90px;
  font-size: 21px;
}

.prohibido2 p{
  margin-left: 115px;
}

.prohibido2 p a{
  color: #ff3c11;
}


