<header class="descripcion">
  <section class="somos">
    <div>
      <div class="titulo">
        <h1>fores<span>Tala</span></h1>
        <h2>Por una flora saludable</h2>
      </div>

      <p class="info">Buscamos restaurar la flora nativa a través de la divulgación <br> de la importancia de producir, plantar y conservar aquellos ejemplares <br> autóctonos del AMBA. <br><br> Realizamos plantaciones todas las semanas. <br><strong>¡Sumate a esta aventura!</strong></p>
    </div>
  </section>

</header>


<main>
  <section class="filtro">
    <div class="desplegable">

      <div>
        <div>
          <h2>¿Querés saber qué podés plantar para atraer <br> mariposas, pájaros, abejas, colibríes y más? <br> </h2>
        </div>

        <div class="menu">
          <p class="plantas">¡ Plantas N A T I V A S !</p>
          <button routerLinkActive="active" routerLink="/ejemplares" id="elegir">Conocé más &#10148;</button>
        </div>
      </div>


    </div>

  </section>


  <h2 class="servicios" id="servicios">Servicio</h2>
  <section class="opciones">

    <div class="plantacionPart">
      <img src="assets/img/aboles.jpg" alt="dibujos de arboles" class="img">
      <div class="informacion">
        <h2>Plantaciones en tu vereda</h2>
        <hr>
        <p>Es muy importante que creemos <b> biocorredores nativos </b> para la supervivencia de la flora y fauna autóctona.</p>
        <p> <b> ¡Vos podés ayudar!</b> Sólo tenés que seleccionar si querés un arbol, un arbusto y/o una enredadera y nosotros luego
          te contactamos para coordinar la plantación.</p>
        <p class="gratis"><b>ES TOTALMENTE GRATIS</b></p>
          <p>Los ejemplares son a elección según la variedad que tengamos en el momento.</p>
        <button routerLinkActive="active" id="plantacionPart" (click)="solicitar()">Solicitala</button>
      </div>
    </div>
  </section>



  <h2 class="infoUtil">Información útil</h2>
  <section class="infoRelevante" >
    <div class="prohibido" id="prohibido">
      <h2>Ejemplares prohibidos</h2>
      <p>Son aquellos que ya no se <br> pueden plantar por ser considerados invasores. <br> <br>
        Éstos son exóticos, es decir,<br> no son autóctonos de esta<br> zona y afectan de <br>
        manera directa y negativa a<br> la flora  nativa. </p>

    </div>

    <div class="prohibido2">
      <h2> ¿Cuáles son? </h2>
      <br>
      <ul>
        <li>Paraíso <br><em>(Elaeagnus angustifolia)</em></li>
        <li>Laurel <br><em>(Laurus nobilis)</em> </li>
        <li>Acacia negra<br> <em>(Gleditsia triacanthos)</em> </li>
        <li>Fresno <br><em>(Fraxinus excelsior)</em> </li>
        <li>Morera de papel <br><em>(Broussonetia papyrifera)</em> </li>
        <li>Ligustro <br><em>(Ligustrum lucidum)</em> </li>
      </ul>
      <br>
      <p>Si bien también hay especies<br> nativas que son consideradas<br> invasoras, debemos evitar aún <br>más a las especies exóticas. <br>
        Para más información, podés <br>hacer <a href="https://www.puntal.com.ar/especies/que-especies-arboles-puedo-colocar-mi-vereda-n124750" target="_blank">click aquí</a>.</p>

    </div>


  </section>



  <div class="nativas">
    <div class="cuadroLila">
      <h2 id="tituloNativas">¿Por qué son tan importantes las plantas nativas?</h2>
      <p>Los flora nativa es aquella que durante miles de años fue adaptándose a las condiciones <br>químicas del suelo de una determinada región geográfica y también a las condiciones físicas. <br>
        <br>

        Un ambiente silvestre similar al originario permite que el sistema se autoregule y no existan <br>plagas.

        Estas especies interactúan con el medio y las demás especies de flora y fauna, así <br>encontramos plantas que son polinizadas por aves e insectos, otras que son distribuidas por <br>animales y el viento u otras que crecen trepando sobre árboles nativos. <br>

        Otro punto es la conservación de estas especias las cuales se hallan exclusivamente en<br> nuestra región por lo que si desaparecen aquí desaparecen del mundo. <br>
        <br>

        Si deseas saber más sobre las nativas, <a href="https://www.instagram.com/respiro_botanica/?hl=es" target="_blank" id="respiroBotanica">click aqui</a>.

      </p>
    </div>

  </div>

</main>
