<div class="fondo">
  <main id="cuerpoEjem">
    <h1 class="floraNativa">Flora <span>Nativa</span>  del AMBA</h1>
    <p class="frase"><em>Utilicemos las nativas para proteger nuestro patrimonio. Son especies que generan
      hábitat para las aves y pequeños mamíferos, además de que con su siembra, garantizamos el hábitat para muchas especies
      más que conviven con ellas.</em></p>

    <div class="flora">
      <h2 class="si">Si querés tener esto en tu jardín...</h2>
      <div class="contenedor">
        <div class="contenedorCarrouselBotones">
          <button role="button" class="izq" id="izq4" >&#11164;</button>

          <div class="contenedorCarrousel" id="contenedorCarrousel4">
            <div class="carrousel">
              <div class="imagenes">
                <a href="#"><img src="assets/img/fauna/espejitos.jpg" alt="Espejitos - Mariposa"></a>
                <figcaption>
                  <p>Espejitos</p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/fauna/celestino.jpg" alt="Celestino - pájaro"></a>
                <figcaption>
                  <p>Celestino</p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/fauna/bordedeoro.jpg" alt="Borde de oro - Mariposa"></a>
                <figcaption>
                  <p>Borde de oro</p>
                </figcaption>
              </div>

              <div class="imagenes">
                <a href="#"><img src="assets/img/fauna/abejanativa.jpg" alt="Abeja nativa"></a>
                <figcaption>
                  <p>Abeja nativa</p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/fauna/colibri.jpg" alt="Colibri"></a>
                <figcaption>
                  <p>Colibri</p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/fauna/bandera.jpg" alt="Bandera argentina - Mariposa"></a>
                <figcaption>
                  <p>Bandera argentina</p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/fauna/cardenal.jpg" alt="Cardenal comun"></a>
                <figcaption>
                  <p>Cardenal común</p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/fauna/picaflornegro.jpg" alt="Picaflor negro"></a>
                <figcaption>
                  <p>Picaflor negro</p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/fauna/mariposaojo.jpg" alt="Ojo de venado - mariposa"></a>
                <figcaption>
                  <p>Ojo de venado</p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/fauna/limoncito.jpg" alt="Limoncito - mariposa"></a>
                <figcaption>
                  <p>Limoncito</p>
                </figcaption>
              </div>

            </div>


          </div>



          <button role="button" class="der" id="der4">&#11166;</button>
        </div>
      </div>
    </div>
    <div class="flora">
      <h2 class="si">... tenés que plantar esto:</h2>
      <br>
      <br>
      <h2 class="arboles" id="arboles">Árboles</h2>
      <div class="contenedor">
        <div class="contenedorCarrouselBotones">
          <button role="button" class="izq" id="izq">&#11164;</button>

          <div class="contenedorCarrousel" id="contenedorCarrousel1">
            <div class="carrousel">
              <div class="imagenes" >
                <a href="#"><img src="assets/img/espinillo.jpg" alt="Espinillo - Arbol"></a>
                <figcaption>
                  <p>Espinillo</p>
                  <p><em>Vachellia caven</em></p>
                </figcaption>
              </div>
              <div class="imagenes" >
                <a href="#"><img src="assets/img/ceibo-con-flores.jpg" alt="Ceibo - Arbol"></a>
                <figcaption>
                  <p>Ceibo</p>
                  <p><em>Erythrina crista-galli</em></p>
                </figcaption>
              </div>
              <div class="imagenes" >
                <a href="#"><img src="assets/img/tala.jpg" alt="Tala - Arbol"></a>
                <figcaption>
                  <p>Tala</p>
                  <p><em>Celtis tala</em></p>
                </figcaption>
              </div>
              <div class="imagenes" >
                <a href="#"><img src="assets/img/cinacina.jpg" alt="Cina Cina - Arbol"></a>
                <figcaption>
                  <p>Cina-Cina</p>
                  <p><em>Parkinsonia aculeata</em></p>
                </figcaption>
              </div>
              <div class="imagenes" >
                <a href="#"><img src="assets/img/molle.jpg" alt="Molle - Arbol"></a>
                <figcaption>
                  <p>Molle</p>
                  <p><em>Schinus molle</em></p>
                </figcaption>
              </div>
              <div class="imagenes" >
                <a href="#"><img src="assets/img/chañar.jpg" alt="Chañar - Arbol"></a>
                <figcaption>
                  <p>Chañar</p>
                  <p><em>Geoffroea decorticans</em></p>
                </figcaption>
              </div>
              <div class="imagenes" >
                <a href="#"><img src="assets/img/inga.jpg" alt="Inga - Arbol"></a>
                <figcaption>
                  <p>Inga</p>
                  <p><em>Inga uraguensis</em></p>
                </figcaption>
              </div>
              <div class="imagenes" >
                <a href="#"><img src="assets/img/sauco.jpg" alt="Sauco - Arbol"></a>
                <figcaption>
                  <p>Sauco</p>
                  <p><em>Sambucus australis</em></p>
                </figcaption>
              </div>
              <div class="imagenes" >
                <a href="#"><img src="assets/img/sendelcampo.jpg" alt="Sen del campo - Arbol"></a>
                <figcaption>
                  <p>Sen del campo</p>
                  <p><em>Senna corymbosa</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/ceibillo.jpg" alt="Ceibillo - Arbol"></a>
                <figcaption>
                  <p>Ceibillo</p>
                  <p><em>Sesbania punicea</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/coronillo.jpg" alt="Coronillo - Arbol"></a>
                <figcaption>
                  <p>Coronillo</p>
                  <p><em>Scutia buxifolia</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/fumoBravo.jpg" alt="Fumo bravo - Arbol"></a>
                <figcaption>
                  <p>Fumo Bravo</p>
                  <p><em>Solanum granulosum leprosum</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/taruma.jpg" alt="Taruma - Arbol"></a>
                <figcaption>
                  <p>Tarumá</p>
                  <p><em>Citharexylum montevidense</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/azota.jpg" alt="Azota caballo - Arbol"></a>
                <figcaption>
                  <p>Azota caballo</p>
                  <p><em>Luehea divaricata</em></p>
                </figcaption>
              </div>

            </div>


          </div>



          <button role="button" class="der" id="der">&#11166;</button>
        </div>



      </div>
    </div>

    <img class="separador" src="/assets/img/separador.jpg" alt="hilera de hojas de arbol">

    <div class="flora">
      <h2 class="arboles" >Arbustos</h2>
      <div class="contenedor">
        <div class="contenedorCarrouselBotones">
          <button role="button" class="izq" id="izq2">&#11164;</button>

          <div class="contenedorCarrousel" id="contenedorCarrousel2">
            <div class="carrousel">
              <div class="imagenes">
                <a href="#"><img src="assets/img/barbaDeChivo.jpg" alt="Barba de chivo - Arbusto"></a>
                <figcaption>
                  <p>Barba de chivo</p>
                  <p><em>Caesalpinia gilliesii</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/talilla.jpg" alt="Talilla - Arbusto"></a>
                <figcaption>
                  <p>Talilla</p>
                  <p><em>Lycium cestroides</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/lantana.jpg" alt="Lantana - Arbusto"></a>
                <figcaption>
                  <p>Lantana</p>
                  <p><em>Lantana camara</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/Baccharis_salicifolia_1.jpg" alt="Jarra amarilla - Arbusto"></a>
                <figcaption>
                  <p>Jarra amarilla</p>
                  <p><em>Baccharis salicifolia</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/Baccharis_articulata_4.jpg" alt="Carqueja - Arbusto"></a>
                <figcaption>
                  <p>Carqueja</p>
                  <p><em>Baccharis articulata</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/asclepia.jpg" alt="Flor de sangre - Arbusto"></a>
                <figcaption>
                  <p>Flor de sangre</p>
                  <p><em>Asclepias curassavica</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/Lantana-Montevidensis.jpg" alt="Lantana rastrera - Arbusto"></a>
                <figcaption>
                  <p>Lantana rastrera</p>
                  <p><em>Lantana montevidiensis</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/tasi.jpg" alt="Tasi - Arbusto"></a>
                <figcaption>
                  <p>Tasi</p>
                  <p><em>Araujia sericifera</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/chilco.jpg" alt="Chilco - Arbusto"></a>
                <figcaption>
                  <p>Chilco</p>
                  <p><em>Fuchsia magellanic</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/PAVONIA_HASTATA.jfif" alt="Malva rosa - Arbusto"></a>
                <figcaption>
                  <p>Malva rosa</p>
                  <p><em>Pavonia hastata</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/plumerillo negro.jpg" alt="Plumerillo negro- Arbusto"></a>
                <figcaption>
                  <p>Plumerillo negro</p>
                  <p><em>Oxypetalum solanoides</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/salviaguaranitica.jpg" alt="Salvia azul - Arbusto"></a>
                <figcaption>
                  <p>Salvia azul</p>
                  <p><em>Salvia guaranitica</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/salviareina.jfif" alt="Lagrima de reina - Arbusto"></a>
                <figcaption>
                  <p>Lágrima de reina</p>
                  <p><em>Billbergia nutans</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/sangredetoro.jpg" alt="Sangre de toro - Arbusto"></a>
                <figcaption>
                  <p>Sangre de toro</p>
                  <p><em>Rivina humilis</em></p>
                </figcaption>
              </div>

            </div>


          </div>



          <button role="button" class="der" id="der2">&#11166;</button>
        </div>



      </div>
    </div>

    <img class="separador" src="/assets/img/separador.jpg" alt="hilera de hojas de arbol">

    <div class="flora">
      <h2 class="arboles">Enredaderas</h2>
      <div class="contenedor">
        <div class="contenedorCarrouselBotones">
          <button role="button" class="izq" id="izq3" >&#11164;</button>

          <div class="contenedorCarrousel" id="contenedorCarrousel3">
            <div class="carrousel">
              <div class="imagenes">
                <a href="#"><img src="assets/img/mburucuya.jpg" alt="Mburucuyá - enredadera"></a>
                <figcaption>
                  <p>Mburucuyá</p>
                  <p><em>Passiflora caerulea</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/aristoloccia.jpg" alt="Mil hombres - enredadera"></a>
                <figcaption>
                  <p>Mil hombres</p>
                  <p><em>Aristolochia Triangularis</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/Cissus_verticillata_ Pauline_Tay (2).jpg" alt="Cortina del cielo - enredadera"></a>
                <figcaption>
                  <p>Cortina del cielo</p>
                  <p><em>Cissus verticillata</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/Globito-cipó-CBR-3-3-12.jpg" alt="Globito cipó - enredadera"></a>
                <figcaption>
                  <p>Globito cipó</p>
                  <p><em>Cardiospermum grandiflorum</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/trompeta-de-sa-juan.jpg" alt="Trompeta de san juan - enredadera"></a>
                <figcaption>
                  <p>Trompeta de San Juan</p>
                  <p><em>Pyrostegia venusta</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/plumerillo rojo.jpg" alt="Plumerillo rojo - enredadera"></a>
                <figcaption>
                  <p>Plumerillo rojo</p>
                  <p><em>Calliandra tweedii</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/barbadeviejo.jpg" alt="Barba de viejo - enredaderao"></a>
                <figcaption>
                  <p>Barba de viejo</p>
                  <p><em>Clematis montevidiensis</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/guaco.JPG" alt="Guaco - enredadera"></a>
                <figcaption>
                  <p>Guaco</p>
                  <p><em>Mikania cordifolia</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/flordepatito.jpg" alt="Flor de patito - enredadera"></a>
                <figcaption>
                  <p>Flor de patito</p>
                  <p><em>Aristolochia fimbriata</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/Misera_4632FL.jpg" alt="Mburucuyá Blanco - enredadera"></a>
                <figcaption>
                  <p>Mburucuyá Blanco</p>
                  <p><em>Passiflora misera</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/Dolichandra_cynanchoides_(8397445164).jpg" alt="Sacha huasca - enredadera"></a>
                <figcaption>
                  <p>Sacha huasca</p>
                  <p><em>Dolichandra cynanchoides</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/napiday.jpg" alt="Ñapindá - enredadera"></a>
                <figcaption>
                  <p>Ñapindá</p>
                  <p><em>Acacia bonariensis</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/cepillo de mono.jpg" alt="Cepillo de mono - enredadera"></a>
                <figcaption>
                  <p>Cepillo de mono</p>
                  <p><em>Combretum fruticosum</em></p>
                </figcaption>
              </div>
              <div class="imagenes">
                <a href="#"><img src="assets/img/peine de mono.jpeg" alt="Peine de mono - enredadera"></a>
                <figcaption>
                  <p>Peine de mono</p>
                  <p><em>Amphilophium carolinae</em></p>
                </figcaption>
              </div>

            </div>


          </div>



          <button role="button" class="der" id="der3">&#11166;</button>
        </div>
      </div>
    </div>



  </main>
</div>
