.opciones{
  margin-top: 7px;
  margin-bottom: 25px;
  margin-left: 245px;
  font-family: 'Roboto', sans-serif;
}

.importante{
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: 290px;
  font-family: 'Roboto', sans-serif;
}

.explicacion{
  font-family: 'Roboto', sans-serif;
  margin-left: 220px;
}

.cuerpoForms{
  height: 600px;
}


/* -------------------------------------- VENTANA MODAL -------------------------------------- */

.modal2 {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
  font-family: 'Roboto', sans-serif;
}

.cerrar{
  border: none;
  background-color: #dc0101;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  font-size: 35px;
  color: whitesmoke;
  margin-left: 650px;
  margin-top: -85px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
}

.modalContenedor {
  margin: auto;
  width: 80%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}

.modalTitulo {
  font-size: 30px;
  text-align: center;
}

.modalParrafo {
  margin-bottom: 10px;
  font-size: 24px;
}

.modalImagen {
  width: 40%;
  max-width: 300px;
}

.modalCerrar2 {
  text-decoration: none;
  color: #fff;
  background-color: #8506a4;
  padding: 1em 3em;
  border: 2px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 400;
  transition: background-color .3s;
}

.modalCerrar2:hover{
  color:#8506a4;
  background-color: #fff;
}


h1{
  font-size:32px;
  margin-top:30px;
  font-family: 'Roboto', sans-serif;
  text-align:center;
}
.blog-wrapper {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 500px;
  margin-right: 130px;
}


.card-img {
  position: relative;
  text-align: center;
  background: #F0E7D8;
}

.card-details {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  color: #3C3C3C;
}

span {
  padding: 0 30px;
}

i{
  margin-right:5px;
}

.card-text{
  padding:30px 15px;
  font-family: 'Roboto', sans-serif;
  line-height:22px;
}



/* ******************* Formulario plantaciones particulares ***************** */

.segundoForm{
  width:500px;
  margin:15px;
  background:#fff;
  border:1px solid #9a8d3d;
  cursor:pointer;
  height: 430px;
  box-shadow: 0 15px 30px 1px rgba(79, 79, 79, 0.31);
}

.segundoForm:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
}

.checkbox-container{
  margin-left: 30px;
  margin-top: 0px;
  display: flex;
}

.unidades{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.solicitar {
  display:inline-block;
  border: none;
  width:auto;
  text-align:center;
  background:#9a8d3d;
  color:#fff;
  padding:20px;
  margin-left:120px;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-size: 15px;
}

.contenedor{
  display: flex;
  justify-content: space-around;
  height: 100%;
  margin-right: 55px;
  margin-left: 55px;
}


.conFondo{
  background-image: url("/assets/img/marcoverde.png");
  background-size: cover;
  width: 50%;
  height: 100%;
  margin-left: 50px;
}

.sumemos {
  color: #000000;
  margin-top: 160px;
  font-size: 25px;
}

.unidades {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height:22px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 55px;
  margin-top: 20px;
}

/* ************************** checkbox ********************* */

[type="checkbox"] {
  opacity: 0;
  margin-top: 10px;

}

[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  color: #666;
  line-height: 25px;
}

[type="checkbox"] + label::before {
  content:'';
  position: absolute;
  left: 0;
  top:0;
  width: 18px;
  height: 18px;
  outline: 2px solid #aaa;
  background: #fff;
}

label {
  font-family: 'Roboto', sans-serif;
}

[type="checkbox"]:checked + label::before {
  content:'';
  position: absolute;
  left: 0;
  top:0;
  width: 18px;
  height: 18px;
  outline: 3px solid #5fd25f;
  background: #fff;
}

[type="checkbox"]:checked + label::after {
  content:'';
  position: absolute;
  left: 0;
  top:0;
  width: 20px;
  height: 20px;
  background-image: url("src/assets/img/check.png");
  background-size: contain;
  transform: scale(1);
  opacity: 1;
  transition: all .3s ease;
}

[type="checkbox"]:not(:checked) + label::after {
  content:'';
  position: absolute;
  left: 0;
  top:0;
  width: 20px;
  height: 20px;
  background-image: url("src/assets/img/check.png");
  background-size: contain;
  transform: scale(0);
  opacity: 0;
}
